.category {
    @include flexDirectionColum;
    margin: auto 1rem;
    text-align:center ;
    &__wrapper {
        @include flexDirectionColum;
        background-color: $white;
        width: 60vw;
    }
    &__card-head {
        @include flexCenter;
        height: 12.5vw;
        width: 60vw;
        background-color: $soft-black;
    }
    &__card {
        @include flexCenter;
        height: 7.81vw;
        width: 60vw;
        background-color: $soft-black;
        margin-top: 0.2rem;
    }
    &__card-heading {
        color: $white;
    }
    &__card-name {
        margin-top: 0.3rem;
        color: $white;
        font-size: 1.125rem;
    }
    &__card-link {
        text-decoration: none;
    }
// =======================photos=======================
    &__logo {
        display: none;
    }
    &__photos {
        @include flexCenter;
        flex-wrap: wrap;
        background-color: $white;
        padding: 14px;
        width: 60vw;
    }
    &__photos-size {
        height: 15.62vw;
        width: 15.62vw;
        background-size: cover; 
        background-position: center;
        margin: 2px;
    }
    // ==================tablet==============
    // ==================tablet==============

    @include tablet {
        margin: 0 1.5rem;
        flex-direction: row-reverse;
        &__wrapper {
            width: 46vw;
        }
        &__card-head {
            width: 46vw;
            height: 7.89vw;
        }
        &__card {
            width: 46vw;
            height: 5.26vw;
        }

// ================photos=====================

        &__logo {
            display: flex;
            justify-content: center;
            margin-top: 1.25rem;
        }
        &__logo-image {
            background-image: url(../assets/images/logo.png);
            height: 8.125rem;
            width: 8.125rem;
            background-size: cover; 
            background-position: center;
            border-radius: 50%;
        }
        &__photos {
            background-color: unset;
            padding: 0.875rem;
            width: 46vw;
            margin-right: 0.875rem;
        }
        &__photos-size {
            height: 13.15vw;
            width: 13.15vw;
            border-radius: 50%;
        }
    }
    // ===============laptop==============
    // ===============laptop==============
    @include laptop {
        margin: 0 7.5rem;
        flex-direction: row-reverse;
        &__wrapper {
            width: 34.31vw;
        }
        &__card-head {
            width: 34.31vw;
            height: 5.88vw;
        }
        &__card {
            width: 34.31vw;
            height: 3.92vw;
        }

// ================photos=====================
        &__container {
            margin-right: 5rem;
        }
        &__logo-image {
            height: 9.375rem;
            width: 9.375rem;
        }
        &__photos {
            width: 34.31vw;
        }
        &__photos-size {
            height: 9.80vw;
            width: 9.80vw;
        }
    }
      // ===============desktop==============
      @include desktop {
        margin: 0 12.5rem;
    }
}

