.nav-comment{
    @include tablet {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 2.5rem 1.5rem 1.5rem;
    }
}
.nav {
    @include flexCenter;
    margin: 1rem;
    border: 2px solid $spark-white;
    padding: 1rem;
    &__image {
        background-image: url(../assets/images/logo.png);
        height: 6.25rem;
        width: 6.25rem;
        background-size: cover; 
        background-position: center;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.5s * 1.5;
        &:hover {
        transform: rotate(180deg * 2);
        }
   
    }
    &__text {
        margin-right: 1.25rem;
        font-size: 1.25rem;
        color: $white;
        font-weight: 900;
    }
    &__text-icon {
        position: relative;
        top: 2px;
        font-size: 2.1875rem;
        color: aqua;
    }
    //===============tablet=============
    @include tablet {
        margin: 50px;
    }
}

.main-comment{
    padding: 1rem;
    &__wrapper{
       border: 2px solid $white;
       padding: 1rem;
    }
    &__top {
      @include flexSpaceBetween;
       background: $white;
       padding: 0.25rem 0.5rem;
       border: 4px solid $indigo;
    }
    &__bottom {
        color: $white;
        margin: 1rem 0;
        border: 2px solid $white;
        padding: 0.5rem;
    }
    &__name {
        padding: 0.25rem;
        font-size: 1.125rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    &__time {
        padding: 0.25rem;
        font-size: 18px;
        font-weight: 600;
    }
    @include tablet {
        padding: 1rem 1.5rem;
    }
    @include laptop {
        padding: 1rem 3.75rem;
    }
    @include desktop {
        padding: 1rem 7.5rem;
    }
}
