@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
      @content;
    }
  }
  @mixin laptop {
    @media screen and (min-width: $laptop-breakpoint) {
      @content;
    }
  }
  
  @mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
      @content;
    }
  }
  
  @mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @mixin flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @mixin flexDirectionColum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }

  