.final-wrapper {
    padding: 1rem;
}

.final{
    &__score {
        @include flexDirectionColum;
        padding: 1rem;
        justify-content: center;
        background-color: $spark-white;
    }
    &__score-username{
        color: $bright-blue;
        font-size: 3.125rem;
        text-transform: uppercase;
    }
    &__score-upper {
        @include flexDirectionColum;
        justify-content: center;
    }
    &__score-text {
       color: $bright-blue;
       font-size: 3.125rem;
    }
    &__score-count {
        color: $bright-blue;
        font-size: 2.8125rem;
    }
    &__score-btn {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
    &__score-playAgain {
        background-color: $soft-black;
        color: $white;
        width: 6.25rem;
        height: 1.875rem;
        cursor: pointer;
        outline: none;
    }
    &__score-logOut {
        background-color: $soft-black;
        color: $white;
        width: 6.25rem;
        cursor: pointer;
        outline: none;
    }
    &__score-lower {
        margin-top: 1rem;
        padding: 1.25rem 1.875rem;
        @include flexDirectionColum;
        justify-content: center;
        text-align: center;
        border: 2px solid $bright-blue;
        background-color: $spark-white;
    }
    &__score-icon {
        font-size: 2.25rem;
        margin-bottom: 0.625rem;
        color: $indigo;
    }
    &__score-greet {
        font-weight: bold;
    }
}


.comment {
    &__form {
        padding: 1rem;
        border: 2px solid $white;
        margin-top: 1rem;
        @include flexDirectionColum;
        justify-content: center;
    }
    &__form-label {
        background-color: $spark-white;
        font-weight: bold;
        padding: 0.25rem 0.5rem;
        border: 0.25rem solid #2e66e6;
    }
    &__form-comment {
        padding: 1rem;
        width: 100%;
        height: 6.25rem;
        border: 2px solid $white;
        background-color: $light-blue;
        outline: none;
        color: $white;
        font-size: 1.125rem;
    }
    &__form-comment::-webkit-input-placeholder {
        color: $white;
     }
     &__form-btn{
        background-color: #13182c;
        color: $white;
        width: 6.25rem;
        height: 1.875;
        cursor: pointer;
        outline: none;
     }
      
}