$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1440px;








// =========color-start============

$soft-black: #13182c;
$soft: #444f79;
$indigo: #2e66e6;
$bright-blue: rgb(0, 148, 218);
$white: #ffffff;
$black: #000000;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$light-grey: #f7f8f9;
$spark-white:rgb(231, 229, 229);
$green: #008000;
$red: #ff0000;