$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;
$desktop-breakpoint: 1440px;








// =========color-start============

// $lightBlack: #323232;
// $white: #ffffff;
// $offWhite: #fafafa;
// $brightBlack: #645e5e;
// $backgroundColor: rgba(0, 0, 0, 0.3)
// $black: #323232;
$soft-black: #13182c;
$soft: #444f79;
$indigo: #2e66e6;
$bright-blue: rgb(0, 148, 218);
$white: #ffffff;
$slate: #5c667e;
$cloud: #bdc5d5;
$graphite: #232940;
$light-grey: #f7f8f9;
$green: #158463;
$red: #c94515;