html, body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'AvenirNext LT Pro';
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  background-color: #0084da;
}

ul {
  list-style-type: none;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro1';
  src: url("../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AvenirNext LT Pro';
  src: url("../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 1rem;
  text-align: center;
}

.category__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  width: 60vw;
}

.category__card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12.5vw;
  width: 60vw;
  background-color: #13182c;
}

.category__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 7.81vw;
  width: 60vw;
  background-color: #13182c;
  margin-top: 0.2rem;
}

.category__card-heading {
  color: #ffffff;
}

.category__card-name {
  margin-top: 0.3rem;
  color: #ffffff;
  font-size: 1.125rem;
}

.category__card-link {
  text-decoration: none;
}

.category__logo {
  display: none;
}

.category__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #ffffff;
  padding: 14px;
  width: 60vw;
}

.category__photos-size {
  height: 15.62vw;
  width: 15.62vw;
  background-size: cover;
  background-position: center;
  margin: 2px;
}

@media screen and (min-width: 768px) {
  .category {
    margin: 0 1.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .category__wrapper {
    width: 46vw;
  }
  .category__card-head {
    width: 46vw;
    height: 7.89vw;
  }
  .category__card {
    width: 46vw;
    height: 5.26vw;
  }
  .category__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1.25rem;
  }
  .category__logo-image {
    background-image: url(../assets/images/logo.png);
    height: 8.125rem;
    width: 8.125rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
  }
  .category__photos {
    background-color: unset;
    padding: 0.875rem;
    width: 46vw;
    margin-right: 0.875rem;
  }
  .category__photos-size {
    height: 13.15vw;
    width: 13.15vw;
    border-radius: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .category {
    margin: 0 7.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .category__wrapper {
    width: 34.31vw;
  }
  .category__card-head {
    width: 34.31vw;
    height: 5.88vw;
  }
  .category__card {
    width: 34.31vw;
    height: 3.92vw;
  }
  .category__container {
    margin-right: 5rem;
  }
  .category__logo-image {
    height: 9.375rem;
    width: 9.375rem;
  }
  .category__photos {
    width: 34.31vw;
  }
  .category__photos-size {
    height: 9.80vw;
    width: 9.80vw;
  }
}

@media screen and (min-width: 1440px) {
  .category {
    margin: 0 12.5rem;
  }
  .category__card-heading {
    font-size: 2.5rem;
  }
  .category__card-name {
    font-size: 1.5rem;
  }
}

.header {
  background-color: darkblue;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1rem;
  height: 5rem;
}

.header__username {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.125rem;
}

.header__logout-btn {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.header__logout-btn:hover {
  text-decoration: underline;
}

.header__nav {
  margin: 0 1rem;
  color: #ffffff;
  font-weight: bold;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__list-item {
  margin-left: 1.5rem;
  font-size: 1.125rem;
}

.header__list-link {
  color: #ffffff;
  text-decoration: none;
}

.header__list-link:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .header {
    height: 3.75rem;
  }
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 1.5rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__logo {
    height: 3.75;
    border-radius: 50%;
    margin-bottom: unset;
    text-align: center;
  }
}

.quiz {
  background-color: #e7e5e5;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz__timer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  width: 9.375rem;
  color: #ffffff;
  margin: 0.937rem 0;
  background-color: #13182c;
  border: 2px solid #ffffff;
}

.quiz__timer-image {
  display: none;
  margin: 0.937rem 0;
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

.quiz__card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  padding: 0.5rem;
  min-height: 12.5vw;
  margin-bottom: 1.875rem;
  width: 90vw;
  background-color: #0094da;
}

.quiz__card {
  background-color: #fff;
  border: 2px solid #0084da;
  min-height: 4.375rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.875rem;
  -webkit-transition: color .3s ease,  border-color .3s ease,  -webkit-transform .3s ease;
  transition: color .3s ease,  border-color .3s ease,  -webkit-transform .3s ease;
  transition: color .3s ease,  border-color .3s ease,  transform .3s ease;
  transition: color .3s ease,  border-color .3s ease,  transform .3s ease,  -webkit-transform .3s ease;
  cursor: pointer;
}

.quiz__card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  border: 3px solid #0084da;
}

.quiz__card-correct {
  color: #008000;
  border: 3px solid #008000;
}

.quiz__card-correct:hover {
  border: 3px solid #008000;
}

.quiz__card-wrong {
  color: #ff0000;
  border: 3px solid #ff0000;
}

.quiz__card-wrong:hover {
  border: 3px solid #ff0000;
}

.quiz__card-heading {
  margin-top: 0.625rem;
}

.quiz__card-number {
  background-color: #0084da;
  color: #fff;
  font-size: 30px;
  -webkit-box-flex: 75px;
      -ms-flex: 75px;
          flex: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quiz__card-name {
  color: #0b0e21;
  font-size: 1rem;
  font-weight: 600;
  -webkit-box-flex: calc(100% - 75px);
      -ms-flex: calc(100% - 75px);
          flex: calc(100% - 75px);
  margin: auto 1.25rem;
}

.quiz__btn-link {
  text-decoration: none;
}

.quiz__submit-btn {
  width: 18rem;
  background-color: #13182c;
  color: #fff;
  font-size: 1.375rem;
  border: none;
  outline: none;
}

.quiz__btn {
  width: 18rem;
  border: 2px solid #13182c;
  border-radius: 0;
  background-color: #13182c;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.875rem 0;
  margin: 0 auto 1.25rem;
}

@media screen and (min-width: 768px) {
  .quiz {
    margin: 1.5rem;
    padding: 0 1.5rem;
  }
  .quiz__card-head {
    width: 93.75vw;
  }
  .quiz__answer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .quiz__card {
    width: 45%;
    margin: 1.125rem;
  }
  .quiz__btn {
    width: 24rem;
    font-size: 1.375rem;
    padding: 1.125rem 0;
  }
  .quiz__submit-btn {
    width: 24rem;
  }
}

@media screen and (min-width: 1024px) {
  .quiz__timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .quiz__timer-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 8.125rem;
    width: 8.125rem;
    border-radius: 50%;
    margin-left: 12.5rem;
  }
  .quiz__timer-image {
    display: unset;
    height: 8.125rem;
    width: 8.125rem;
    border-radius: 50%;
    margin-right: 12.5rem;
  }
}

.main-welcome {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-welcome {
    margin-top: 1.5rem;
    display: block;
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
  }
}

@media screen and (min-width: 1440px) {
  .main-welcome {
    margin-top: 2.5rem;
  }
}

.main-wrapper {
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .main-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 6rem 4rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .main-wrapper {
    margin: 8rem 10rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1440px) {
  .main-wrapper-signUp {
    margin: 6rem 10rem;
  }
}

.main-about {
  background-color: #e7e5e5;
  padding: 1rem;
}

.main-about__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main-about__logo-image {
  display: none;
  background-image: url(../assets/images/logo.png);
  height: 2.5rem;
  width: 2.5rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.main-about__icon {
  border: 4px solid #2e66e6;
  margin: 1.875rem 0;
  height: 3.125rem;
}

.main-about__descriptions {
  border: 2px solid #2e66e6;
  background-color: #f7f8f9;
  padding: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .main-about {
    width: 45%;
  }
  .main-about__icon {
    height: 3.125rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-about__icon {
    height: 3.75rem;
  }
}

.login__form {
  padding: 1rem;
  border: 2px solid #e7e5e5;
}

.login__form-label {
  color: #ffffff;
  font-weight: 900;
}

.login__form-label-color {
  color: cyan;
}

.login__form-userName {
  width: 100%;
  height: 2.5rem;
}

.login__form-password {
  width: 100%;
  height: 2.5rem;
}

.login__form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login__form-btn {
  background-color: #13182c;
  color: #ffffff;
  margin-top: 1rem;
  width: 7.5rem;
  height: 2rem;
  cursor: pointer;
}

.login__signup-btn {
  color: #ffffff;
  width: 7.5rem;
  height: 2rem;
  margin-top: 1rem;
}

.login__signup-btn--margin {
  background-color: #13182c;
  margin-top: unset;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .login__form {
    border: 5px solid #e7e5e5;
    width: 45%;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 768px) {
  .nav-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2.5rem 1.5rem 1.5rem;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem;
  border: 2px solid #e7e5e5;
  padding: 1rem;
}

.nav__image {
  background-image: url(../assets/images/logo.png);
  height: 6.25rem;
  width: 6.25rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.75s;
  transition: 0.75s;
}

.nav__image:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.nav__text {
  margin-right: 1.25rem;
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 900;
}

.nav__text-icon {
  position: relative;
  top: 2px;
  font-size: 2.1875rem;
  color: aqua;
}

@media screen and (min-width: 768px) {
  .nav {
    margin: 50px;
  }
}

.main-comment {
  padding: 1rem;
}

.main-comment__wrapper {
  border: 2px solid #ffffff;
  padding: 1rem;
}

.main-comment__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  padding: 0.25rem 0.5rem;
  border: 4px solid #2e66e6;
}

.main-comment__bottom {
  color: #ffffff;
  margin: 1rem 0;
  border: 2px solid #ffffff;
  padding: 0.5rem;
}

.main-comment__name {
  padding: 0.25rem;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}

.main-comment__time {
  padding: 0.25rem;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .main-comment {
    padding: 1rem 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-comment {
    padding: 1rem 3.75rem;
  }
}

@media screen and (min-width: 1440px) {
  .main-comment {
    padding: 1rem 7.5rem;
  }
}

.final-wrapper {
  padding: 1rem;
}

.final__score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e7e5e5;
}

.final__score-username {
  color: #0094da;
  font-size: 3.125rem;
  text-transform: uppercase;
}

.final__score-upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.final__score-text {
  color: #0094da;
  font-size: 3.125rem;
}

.final__score-count {
  color: #0094da;
  font-size: 2.8125rem;
}

.final__score-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.final__score-playAgain {
  background-color: #13182c;
  color: #ffffff;
  width: 6.25rem;
  height: 1.875rem;
  cursor: pointer;
  outline: none;
}

.final__score-logOut {
  background-color: #13182c;
  color: #ffffff;
  width: 6.25rem;
  cursor: pointer;
  outline: none;
}

.final__score-lower {
  margin-top: 1rem;
  padding: 1.25rem 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: 2px solid #0094da;
  background-color: #e7e5e5;
}

.final__score-icon {
  font-size: 2.25rem;
  margin-bottom: 0.625rem;
  color: #2e66e6;
}

.final__score-greet {
  font-weight: bold;
}

.comment__form {
  padding: 1rem;
  border: 2px solid #ffffff;
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comment__form-label {
  background-color: #e7e5e5;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border: 0.25rem solid #2e66e6;
}

.comment__form-comment {
  padding: 1rem;
  width: 100%;
  height: 6.25rem;
  border: 2px solid #ffffff;
  background-color: #0084da;
  outline: none;
  color: #ffffff;
  font-size: 1.125rem;
}

.comment__form-comment::-webkit-input-placeholder {
  color: #ffffff;
}

.comment__form-btn {
  background-color: #13182c;
  color: #ffffff;
  width: 6.25rem;
  height: 1.875;
  cursor: pointer;
  outline: none;
}
/*# sourceMappingURL=app.css.map */